<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-wide, initial-scale = 1.0">
        <title>Epytodo | Account Created !</title>
        <link rel = "stylesheet" href = "css/register/style_register_submit.css">
    </head>
    <body>
        <div class = "logo"></div>
        <h1>Account Created !</h1>
        <h2>Your token is : </h2>
        <h3><%= token %></h3>
        <h4>Copyright © Lucas Holczinger, Yanis Lazreq, Noah Le Vêve</h4>
    </body>
</html>
