<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-wide, initial-scale = 1.0">
        <title>Epytodo | Register</title>
        <link rel = "stylesheet" href = "css/register/style_register.css">
    </head>
    <body>
        <div class = "logo"></div>
        <form action="/registerpost" method="POST">
            <h1>Register</h1>
            <div class="inputs">
                <input type="email" name="email" placeholder="Email">
                <input type="name" name ="name" placeholder="Name">
                <input type="firstname" name="firstname" placeholder="Firstname">
                <input type="password" name ="password" placeholder="Password">
            </div>
            <div align="center">
                <button type="submit">Create a new account</button>
            </div>
        </form>
        <h2>Copyright © Lucas Holczinger, Yanis Lazreq, Noah Le Vêve</h2>

    </body>
</html>
