<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-wide, initial-scale = 1.0">
        <title>Epytodo | User</title>
        <link rel = "stylesheet" href = "css/user/style_display_user.css">
    </head>
    <body>
        <div class = "logo"></div>
        <h1>User details :</h1>
        <h2>id : <%= id %></h2>
        <h3>email : <%= email %></h3>
        <h4>password : <%= password %></h4>
        <h6>firstname : <%= firstname %></h6>
        <h7>name : <%= name %></h7>
        <h5>created at : <%= created_at %></h5>
        <h7></h7>
        <h8>Copyright © Lucas Holczinger, Yanis Lazreq, Noah Le Vêve</h8>
    </body>
</html>
